body{text-align: center;}
body {
    font-family: 'Poppins', sans-serif;
}
h1 {
    font-weight: 700;
}

body {
    font-weight: 400;
}
body{
    background-image: url("images/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
body {
    background-image: url("images/background.png");
    background-size: cover;      /* Makes image fill the screen */
    background-position: center; /* Keeps important part centered */
    background-repeat: no-repeat;
    min-height: 100vh;           /* Full viewport height */
}
.cover-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full screen height */
}

.cover-container img {
    width: 600px;
    max-width: 90%;
    border-radius: 300px;
}
